.idea/**
.idea/**/*
.idea/**/**/*
cmake-build-*/
*.iws
out/
.idea_modules/
atlassian-ide-plugin.xml
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties
.iml
target
.gitee
.idea
.iml
.git
output
.tar
.log
**/.idea
**/**/.idea
**/target
**/**/target
**/.iml
**/**/.iml
*.log
**/**/.log
